!!!
%html  
  %head  
    %title
      = _ :page_title
    %link(href="/index.css" media="all" rel="stylesheet" type="text/css")
    - if CCProcess.refresh_time
      %meta{'http-equiv' =>'refresh', 'content' => "#{CCProcess.refresh_time}" }
    %link(href="/css/fonts.css" rel="stylesheet" type="text/css")
    %script{src: "/jquery.min.js"}
    %script{src: "/filter.js"}
    %script{src: "/count.js"}
    %script{src: "/hover.js"}
  %body
    -# Declare Variables
    - show_register = registration_visibility() 
    - show_harbour = harbour_visibility()

    .page_bar_wrap
      #page_bar
        %ul#page_menu
          %a(href="/#{@language}/targets/")
            %li.tab{:class => tab == :targets ? "current_tab" :"" }
              .li
                = _ :targets
          - if ! show_harbour
            %a(href="/#{@language}/toolchains/")
              %li.tab{:class => tab == :toolchains ? "current_tab" :"" }
                .li
                  = _ :toolchains
          %a(href="/#{@language}/updates/")
            %li.tab{:class => tab == :updates ? "current_tab" :"" }
              .li
                = _ :updates
          -# %a(href="/#{@language}/")
            %li.tab{:class => tab == :sdk ? "current_tab" :"" }
              .li
                = _ :sdk
          %a(href="/#{@language}/harbour_tools/" )
            %li.tab{ :class => tab == :harbour_tools ? "current_tab" :"", :style => "display:#{show_harbour}" }
              .li
                = _ :harbour_tools
          %a(href="/#{@language}/register_sdk/" )
            #register_view
            %li.tab{ :style=> "display:#{show_register}" , :class => tab == :register_sdk ? "current_tab" :"" }
              .li
                = _ :register_sdk
      #name_wrap
        #logo
        #page_name
          = _ :page_name
    .wrapper
      .content_wrap
        =yield
      - if CCProcess.exists
        .progress_blocker
          .progress_noscroll
            %table(class="progress_table #{CCProcess.result_class} rounded_table_top")
              %tbody
                %tr
                  %td
                    - if ! CCProcess.is_running
                      %form{:action => "/actions/clear_output", :method => "post"}
                        %input{:type => "submit", :value => (_ :clear_progress), :class => "button"}
                    - if CCProcess.is_running and CCProcess.cancellable == 1
                      %form{:action => "/actions/cancel_process", :method => "post"}
                        %input{:type => "submit", :value => (_ :cancel_process), :class => "button", :style => "float:left" }
                    - if CCProcess.refresh_time
                      = _ :update_log_in
                      %b#countdown
                      :javascript
                        $("#countdown").countdown(#{CCProcess.refresh_time}, "s");
                %tr
                  %td
                    .progress_header
                      - if CCProcess.is_running
                        = _ :operation_progress
                      - elsif CCProcess.exit_status == 0
                        = _ :operation_success
                      - else
                        = _ :operation_failed

          .progress(id="progress_scroller")
            %table(class="progress_table process_bg rounded_table_btm")
              %tbody
                %tr
                  %td
                    #{CCProcess.status_out}
          :javascript
            var elem=document.getElementById('progress_scroller');
            elem.scrollTop = elem.scrollHeight;

      - if Flash.active
        .flash_blocker#flash_display
          .flash#flash_view
            .flash_header
              = _ :flash_heading
            - Flash.each do |message, importance|
              .monospace
                #{message}
              %hr
            = _ :click_to_acknowledge_flash
          :javascript
            $("#flash_view").click(function () {
            $("#flash_display").hide()
            });



