.content
  .page_header
    = _ :manage_targets

  #target_summary
    =_(:target_summary)

  #targets_table.update_section
    %table
      %tbody
        - Tooling.each do |tooling|
          %tr
            %td.tooling_name
              #{tooling.name}
              - if tooling.installer_managed
                = _(:installer_managed_mark)
            - if Target.all_using_tooling(tooling.name).empty?
              - if ! tooling.installer_managed
                %td.delete_button
                  %form{:action => "/#{@language}/toolings/#{tooling.name}", :method => "post"}
                    %input{:type => "submit", :value => (_ :delete), :class => "button"}
                    %input{:type => "hidden", :value => "delete", :name => "_method" }
          - Target.each_using_tooling(tooling.name) do |target|
            %tr
              %td.element_name
                #{target.name}
                - if target.installer_managed
                  = _(:installer_managed_mark)
              %td.element_manage
                %a.button.manage_link(href='/#{@language}/targets/#{target.name}')
                  = _(:manage)
              - if ! target.installer_managed
                %td.delete_button
                  %form{:action => "/#{@language}/targets/#{target.name}", :method => "post"}
                    %input{:type => "submit", :value => (_ :delete), :class => "button"}
                    %input{:type => "hidden", :value => "delete", :name => "_method" }
              - if ! target.is_known
                %td.upgrade_button
                  %form{:action => "/#{@language}/targets/#{target.name}/upgrade", :method => "post"}
                    %input{:type => "submit", :value => "sync", :class => "button"}

  - if Tooling.all.any? {|t| t.installer_managed} || Target.all.any? {|t| t.installer_managed}
    #target_footnote
      = _(:target_footnote)

  #add_target_wrap
    .page_header
      = _ :add_new_target
    - if Provider.targetTemplates.size > 0
      #preconfig_target_wrap
        %form{:action => "/#{@language}/targets/add", :method => 'post'}
          .parameter.parameter_name
            %label
              = _ :from_list
            .styled_select
              %select.button.select{:name => "template_id"}
                %option{:value => -1}=(_ :select_target)
                - Provider.targetTemplates.each_with_index do |targetT, i|
                  %option{:value => i}="#{targetT['provider']} / #{targetT['name']}"
          .clear
          .parameter.parameter_name
            %label
              = _ :local_target_name_optional
            %input#local_target_name{:type => 'text', :name => 'local_target_name', :value => '', :class=> "button parameter_text_field"}
          .clear
          %input{:type => 'submit', :value => (_ :add), :class => 'button'}

    #manual_target_wrap
      %form{:action => "/#{@language}/targets/add", :method => 'post'}
        .parameter.parameter_name
          %label
            = _ :target_name
          %input#text_field1{:type => 'text', :name => 'target_name', :value => @target_name, :class=> "button parameter_text_field"}
        .clear
        .parameter.parameter_name
          %label
            = _ :target_url
          %input#text_field2{:type => 'text', :name => 'target_url', :value => @target_url, :class=> "button parameter_text_field"}
        .clear
        .parameter.parameter_name
          %label
            = _ :tooling_name_optional
          %input#text_field3{:type => 'text', :name => 'tooling_name', :value => @tooling_name, :class=> "button parameter_text_field"}
        .clear
        .parameter.parameter_name
          %label
            = _ :tooling_url_optional
          %input#text_field4{:type => 'text', :name => 'tooling_url', :value => @tooling_url, :class=> "button parameter_text_field"}
        .clear
        .parameter.parameter_name
          %label
            = _ :toolchain_optional
          %input#text_field5{:type => 'text', :name => 'toolchain', :value => @toolchain, :class=> "button parameter_text_field"}
        .clear
          %input{:type => 'submit', :value => (_ :add), :class => 'button'}

  .clear
