.content
  .page_header
    = _ :manage_toolchains
  #tables_wrap
    #toolchains_table
      %table
        %tbody
          - Toolchain.each do |toolchain|
            %tr
              %td.element_name
                #{toolchain.name}
              -# removing patterns wont' work so let's hide the button
                %td.delete_button 
                - if installed
                  %form{:action => "/toolchains/#{toolchain}", :method => "post"}
                    %input{:type => "submit", :value => (_ :delete), :class => "button"}
                    %input{:type => "hidden", :value => "delete", :name => "_method"}
                - else
                  %input{:type => "button", :value => (_ :delete), :disabled => "true", :class => "button disabled"}
              %td.install_button
                - if not toolchain.installed
                  %form{:action => "/#{@language}/toolchains/#{toolchain.name}", :method => "post"}
                    %input{:type => "submit", :value => (_ :install), :class => "button"}
              %td
                - if toolchain.installed
                  = _( :installed)
  .clear
